<!DOCTYPE html>
<html>
  <head>
   <meta charset="UTF-8">
    <title>Create a New Puppy</title>
    </head>
  <body>
    <p>Puppy Name: <%= @new_puppy.name %></p>
    <p>Puppy Breed: <%= @new_puppy.breed %></p>
    <p>Puppy Age: <%= @new_puppy.age %> months</p>
  </body>
</html>